body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:darkseagreen;
    background-image:url(https://www.teahub.io/photos/full/102-1023067_color-pencil-art-wallpaper-in-hd-and-widescreen..jpg);
    background-size: 100%;
}

#containerAndButtons {
    display: flex;
}

#buttonPanel {
    background-color: rgba(128, 128, 128, 0.658);
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 4px solid black;
    display:flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}

button {
    font-weight: bolder;
    /* background-color: rgb(115, 146, 115); */
    background-color: rgba(39, 126, 138, 0.801);
    border: 1px whitesmoke solid;
    transition: 0.15s;
    -webkit-transition: 0.15s;
}

button:hover {
    background-color: rgb(27, 87, 95);
    transition: 0.15s;
    -webkit-transition: 0.15s;
    padding: 5px;
    cursor: pointer;
    color: whitesmoke;
}

button:active {
    background-color: rgb(155, 172, 127);
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

#copyright {
    font-size: smaller;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: 2px;
    color: rgb(73, 73, 73);
}

a {
    text-decoration: none;
    color: rgb(87, 87, 87);
}

#colorInput {
    background-color: rgba(29, 95, 104, 0.185);
    border: 1px rgba(245, 245, 245, 0.356) solid;
}

#colorInput:hover {
    -webkit-transform: scale(1.05);
    scale: 1.05;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    cursor: pointer;
}

#gridContainer {
    width: 700px;
    height: 700px;
    border: 4px solid black;
    display: grid;
    gap: 1px;
    background-color: rgb(153, 153, 153);

}

.gridPixel {
    background-color:white;
}
