body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:darkseagreen;
    background-image:url(https://www.teahub.io/photos/full/102-1023067_color-pencil-art-wallpaper-in-hd-and-widescreen..jpg);
    background-size: 100%;
}

h1 {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

h1:hover {
    filter: blur(4px);
    color: rgb(190, 114, 0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#topTitle > p:hover {
    color: whitesmoke;
}

#containerAndButtons {
    display: flex;
}

#buttonPanel {
    background-color: rgba(128, 128, 128, 0.658);
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 4px solid black;
    display:flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#buttonPanel:hover {
    background-color: rgba(128, 128, 128, 0.815);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#colorPanel {
    background-color: rgba(128, 128, 128, 0.658);
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 4px solid black;
    display:flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.shortcutButton {
    border-radius: 25px;
    margin: 0px auto;
    padding-top: 30%;
    width: 30px;
    border: 2px black solid;
}

.shortcutButton:hover {
    scale: 1.4;
    padding-top: 20px;
}

.shortcutButton:active {
    scale: 1.3;
}

#blackButton {
    background-color: black;
}

#blackButton:hover {
    box-shadow: 0 0 2rem black;
}

#whiteButton {
    background-color: white;
}

#whiteButton:hover {
    box-shadow: 0 0 2rem white;
}

#yellowButton {
    background-color: yellow;
}

#yellowButton:hover {
    box-shadow: 0 0 2rem yellow;
}

#greenButton {
    background-color: green;
}

#greenButton:hover {
    box-shadow: 0 0 2rem green;
}

#redButton {
    background-color: red;
}

#redButton:hover {
    box-shadow: 0 0 2rem red;   
}

#blueButton {
    background-color: blue;
}

#blueButton:hover {
    box-shadow: 0 0 2rem blue;
}

#pinkButton {
    background-color: pink;
}

#pinkButton:hover {
    box-shadow: 0 0 2rem pink;
}

#purpleButton {
    background-color: purple;
}

#purpleButton:hover {
    box-shadow: 0 0 2rem purple;
}

#orangeButton {
    background-color: orangered;
}

#orangeButton:hover {
    box-shadow: 0 0 2rem orangered;
}

#brownButton {
    background-color: brown;
}

#brownButton:hover {
    box-shadow: 0 0 2rem brown;
}

#grayButton {
    background-color: gray;
}

#grayButton:hover {
    box-shadow: 0 0 2rem gray;
}

#limeButton {
    background-color: lime;
}

#limeButton:hover {
    box-shadow: 0 0 2rem lime;
}

#lightBluButton {
    background-color: lightskyblue;
}

#lightBluButton:hover {
    box-shadow: 0 0 2rem lightskyblue;
}

button {
    font-weight: bolder;
    background-color: rgba(39, 126, 138, 0.801);
    border: 1px whitesmoke solid;
    transition: 0.15s;
    -webkit-transition: 0.15s;
}

button:hover {
    background-color: rgb(27, 87, 95);
    transition: 0.15s;
    -webkit-transition: 0.15s;
    padding: 5px;
    cursor: pointer;
    color: whitesmoke;
}

button:active {
    background-color: rgb(155, 172, 127);
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

#copyright {
    font-size: smaller;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: 2px;
    color: rgb(73, 73, 73);
}

a {
    text-decoration: none;
    color: rgb(87, 87, 87);
}

#colorInput {
    background-color: rgba(29, 95, 104, 0.185);
    border: 1px rgba(245, 245, 245, 0.356) solid;
}

#colorInput:hover {
    -webkit-transform: scale(1.05);
    scale: 1.05;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    cursor: pointer;
}

#gridContainer {
    width: 700px;
    height: 700px;
    border: 4px solid black;
    display: grid;
    gap: 1px;
    background-color: rgb(153, 153, 153);

}

.gridPixel {
    background-color:white;
    transition: 0.15s;
}

.gridPixel:hover {

}

/* THIS IS THE CODE FOR THE GLOW EFFECT - IT'S OFF BECAUSE IT OVERLOADED THE DOM TOO MUCH, BUT REMAINED HERE FOR REFERENCE */
/* .glowClass {
    animation-name: testing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes testing {
    0% {filter: brightness(1);}
    10% {filter: brightness(1.3);}
    20% {filter: brightness(1);}
    30% {filter: brightness(1.3);}
    100% {filter:brightness(1)}
} */
